body {
  font-family: "Montserrat", sans-serif; }

h1 {
  margin-top: 3%;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1pt; }

h2 {
  margin-top: 2%;
  margin-bottom: 1%;
  text-align: center;
  animation: bounce;
  animation-duration: 2s;
  font-size: 1,5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1pt; }

h3 {
  font-weight: bold;
  margin-top: 2%; }

/*BEM */
.mapaSitio__title {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 10%;
  color: black;
  margin-top: 15%; }

.mapaSitio__title--lista {
  list-style: none;
  margin: 5%; }
  .mapaSitio__title--lista a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    line-height: 2pt;
    font-size: 1rem; }
  .mapaSitio__title--lista :hover {
    color: #BDBDBD; }

/*BEM */
.red__social--title {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 15%;
  color: black; }

.card-title {
  font-size: 1.2rem; }

.card-text {
  font-size: 1rem; }

.nav-link {
  font-weight: bold;
  color: white; }

.navbar-nav {
  color: white; }
  .navbar-nav a {
    color: white; }
    .navbar-nav a :hover {
      color: #BDBDBD; }

p {
  font-size: 0.9rem; }

.section__sabor--title {
  font-size: 1.5rem;
  margin-top: 3%; }

.title__descripcion {
  font-size: 0.9rem; }

.section__sabor--garbanzo {
  width: 40%;
  margin-left: 10%;
  margin-top: 5%; }

.btn a {
  text-decoration: none;
  color: black; }

.logoImg {
  width: 30%;
  height: 40%;
  margin-left: 20%; }

.pieLogo {
  width: 30;
  height: 30%;
  margin-top: 15%; }

body {
  margin: 0%;
  padding: 0%;
  background: white; }

.red__social--img {
  margin-left: 10%; }

.btn-success {
  color: black;
  background-color: #BDBDBD;
  border-color: #BDBDBD; }

.galeria__fotos {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  justify-content: center;
  margin-left: 25%;
  margin-bottom: 5%; }

.section__destacados {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; }

.card {
  border-radius: 20%; }

.maps {
  align-items: center; }

.saborGarbanzo {
  width: 50%;
  height: 50%;
  margin-left: 10%; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.piePagina {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  justify-items: center;
  background: #c9e265;
  font-weight: 1.5pt; }

.red__social--title {
  margin-top: 5%; }

/*BEM*/
.delivery__zone {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  margin-left: 5%;
  margin-top: 2%; }

.cuadro__msj--formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%; }

nav {
  background-color: #c9e265; }

.contenedorNav {
  display: flex;
  align-items: center; }

.navbar-nav {
  margin-left: 30%; }

.nav-link {
  margin-right: 3.5rem;
  border-radius: 13%; }

.botones {
  display: flex;
  justify-content: flex-end;
  margin: 3%; }

.boton .boton--secundario {
  border-radius: 3%;
  margin: 4%; }

input {
  border-radius: 20%; }

form {
  width: 50%;
  margin: auto; }

.card-body {
  text-align: center;
  background-image: linear-gradient(to bottom, #c9e265, white); }

.card {
  margin-bottom: 5%;
  margin-right: 5%;
  border-radius: 10%; }

.card-body {
  display: flex;
  flex-direction: column;
  background-color: white; }

iframe {
  width: 100%; }

.section__sabores {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100% 100%; }

.button__comprar {
  width: 30%;
  height: 15%;
  border-radius: 5%;
  margin-top: 5%; }

.unidades__pack--btn {
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%; }

.unidades {
  display: grid;
  grid-template-rows: 10% 10% 10%;
  grid-template-columns: 10% 10% 10%;
  margin-left: 3%; }

hr {
  width: 30%; }

.section__descripcion {
  display: flex;
  margin-left: 5%;
  margin-top: 5%; }

.descripcion {
  margin: 2% 0% 5% 10%; }

/*MEDIA QUERIES*/
@media (max-width: 568px) {
  h1 {
    font-size: 1.5rem; }
  h2 {
    font-size: 1.3rem; }
  h3 {
    font-size: 0.6rem; }
  h4 {
    font-size: 0.5rem; }
  h6 {
    font-size: 0.6rem;
    font-weight: bold; }
  label {
    font-size: 0.6rem; }
  .mapaSitio__title {
    font-size: 0.7rem;
    line-height: 2;
    margin-left: 10%; }
  u .mapaSitio__title--lista {
    line-height: 2; }
  .red__social--title {
    font-size: 0.7rem;
    margin-top: 2%; }
  p {
    font-size: 0.7rem; }
  li {
    font-size: 0.8rem; }
  .imgLogo {
    width: 20%;
    height: 20%; }
  form {
    width: 100%; }
  .botones {
    font-size: 0.8rem; }
  .section__destacados {
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%; }
  .galeria__fotos {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center; }
  .delivery__zone {
    grid-template-columns: 1fr;
    justify-content: flex-start;
    margin-left: 10%; }
  .section__sabores {
    display: flex;
    flex-direction: column;
    margin-left: 5%; }
  .precioUnidad {
    align-items: center;
    font-size: 0.7rem; }
  .section__sabor--title {
    margin-left: 1%; }
  .unidades {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    align-items: flex-start; }
  .unidades__pack {
    margin-bottom: 3%; }
  .section__descripcion {
    display: flex;
    flex-direction: column; }
  .descripcion {
    margin-left: 2%; }
  .pieLogo {
    width: 15%;
    height: 10%; } }

@media (max-width: 768px) {
  h3 {
    font-size: 1rem; }
  .maps {
    width: 100%;
    margin-left: 15%; }
  .delivery__zone {
    grid-template-columns: 1fr;
    justify-content: flex-start;
    margin-left: 10%;
    border-radius: 5%; }
  .galeria__fotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; }
  .section__sabor--garbanzo {
    font-size: 0.7rem; }
  .section__descripcion {
    display: flex;
    flex-direction: column; }
  .descripcion {
    margin-left: 2%; }
  .section__sabor--title {
    font-size: 1rem; }
  .unidades {
    display: flex;
    margin-right: 5%; }
  .piePagina {
    justify-content: center; }
  .pieLogo {
    width: 60%;
    height: 60%;
    margin-left: 25%; }
  .red__social--title {
    margin-top: 12%; } }

@media (min-width: 1024px) {
  .contenedorNav {
    display: flex;
    flex-direction: row; }
  .navbar-nav {
    margin-left: 0%; }
  .galeria__fotos {
    justify-content: flex-start;
    margin-left: 2%; }
  .maps {
    margin-left: 2%; } }

footer {
  background: #c9e265; }
