@import "variables";
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}

footer {
    $fondo:claro;
}
.piePagina {
    display: grid;
    grid-template-columns: 35% 30% 35%;
    justify-items: center;
    background: #c9e265;
}
.red__social--title {
    margin-top: 5%;
}

/*BEM*/
.delivery__zone {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
    margin-left: 5%;
    margin-top: 2%;
}

.cuadro__msj--formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

nav {
    background-color: #c9e265;
}
.contenedorNav {
    display: flex;
    align-items: center;
}
.navbar-nav {
    margin-left: 30%;
}

.maps {
    margin-left: 13%;
    margin-top: 3%;
}
.nav-link {
    margin-right: 3.5rem;
    border-radius: 13%;
}


.botones {
    display: flex;
    justify-content: flex-end;
    margin:3%;
}
.boton .boton--secundario {
    border-radius: 3%;
    margin: 4%;
}


input {
    border-radius: 20%;
}

form {
    width: 50%;
    margin: auto;
}

.section__promos {
    position: relative;
    background-image:url(../img/imgPromo.png);
    background-size: 100% 100%;
    overflow: hidden;
    width: 30%;
    margin-left: 33%;
    margin-bottom: 5%;
    border-radius: 5%;
    justify-items: center;
    
    --title {
        position:absolute;
        left: 10%;
        
        --pack {
            position:absolute;
            left: 10%;
        
            --productos {
                position:absolute;
                left: 10%;
                background: #c9e265;
            }
        }
    }
}

.card-body {
    text-align: center;
    background-image: linear-gradient(to bottom, #c9e265, white);
}
.card {
    margin-bottom: 5%;
    margin-right: 5%;
    border-radius: 10%;
}

.card-body {
    display: flex;
    flex-direction: column;
    background-color: white;
}
/*MEDIA QUERIES*/

@media (max-width:568px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
    font-size: 0.8rem;
    }

    h6 {
    font-size: 0.6rem;
    font-weight: bold;
    }
    .red__social--title {
        font-size: 0.6rem;
    }
    label {
        font-size: 0.6rem;
    }
    .galeria__fotos {
    margin-bottom: 5%;
    }
        
    .mapaSitio__title {
        font-size: 0.8rem;
        }
    .mapaSitio__title--lista {
        font-size: 0.8rem;
    }
    .red__social--title {
        margin-top: 8%;
        font-size: 0.8rem;
    }
    .red__social--img {
        margin-left: 15%;
    }
    .maps {
        width: 90%;
        margin: 3%;
    }
    
    p {    
    font-size: 0.7rem;
    }

    .imgLogo {
        width: 20%;
        height: 20%;
    }
    
    form {
        width: 60%;
        margin: auto;
    }
    .botones {
        font-size: 0.8rem;
    .pieLogo {
        width: 10%;
        height: 15%;
    }
}
    


@media (max-width:768px) {
    
    .pieLogo {
        width: 60%;
        height: 60%;
    }
    h3 {
        font-size: 1rem;
    }
    
}

@media (min-width:1024px) {
    .navbar-collapse {
        flex-grow: 0;
    }
}
}
