@import "variables";

.logoImg {
    width: 30%;
    height: 40%;
    margin-left: 20%;
}
.pieLogo {
    width:30;
    height: 30%;
    margin-top:10%;

}
body {
    margin: 0%;
    padding: 0%;
    background: white;
}

.red__social--img {
    margin-left: 10%;
}
.btn-success {
    color: black;
    background-color: #BDBDBD;
    border-color: #BDBDBD;
}
.galeria__fotos {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: center;
    margin-left: 12%;
    margin-bottom: 5%;
}    

.section__destacados {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;

}

.card {
    border-radius: 20%;
}