@import "variables";

.banner__imagen img{
    height: $alto * 2;
    width: 100%;
}


footer {
    @if $fondo==claro {
        background: #c9e265;
    }   
        @else if $fondo ==oscuro {
            background:beige;
        }

}

