$letter-font:'Montserrat', sans-serif;

$alto: 350px;

$color:#c5feaf;

$fondo:claro;

$colores:(
    caba: #58D68D,
    norte:#52BE80,
    oeste:#DAF7A6,
    sur:#B8E664
);

$botones: (
    productos: #A9DE49,
    ubicacion: #C0F165,
    aqui: red
);